aiohttp
async-timeout
ciso8601
discord
flake8
keras
lightgbm
matplotlib
numba
numpy
oauthlib
pandas
requests
requests-oauthlib
requests-unixsocket
scikit-learn
scipy
seaborn
sklearn
pymysql
python-dotenv
sqlalchemy
statsmodels
TA-Lib
tensorflow
tensorflow-estimator
torch
